
@{
    ViewBag.Title = "StudentPortal";
    Layout = "~/Areas/Admin/Views/Shared/StudentLayout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">


                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <h5 class="card-title">About us</h5>

                        <p class="card-text">
                            This section will have some news for students or different tables with announcements, last updates and so on.
                        </p>
                        <a href="#" class="btn btn-primary">Further improvements</a>
                    </div>
                </div><!-- /.card -->
            </div>

            <!-- /.col-md-6 -->
            <div class="col-lg-6">


                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <h6 class="card-title">January intake</h6>

                        <p class="card-text">
                            You don't have to wait a whole year to study with us. We offer you the opportunity to
                            start many of our undergraduate and postgraduate courses in the new year – browse our courses below.
                        </p>
                        <a href="#" class="btn btn-primary">Improvement and development</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
